* {
  margin: 0px;
  padding: 0px;
}

body {
  box-sizing: border-box;
  font-family: "Hind Siliguri", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  font-weight: bold;
}

/*  NAVIGATION BAR CSS  */

.Navigation {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: #ffeddc; */
  padding: 20px 30px 20px 30px;
}

.Animated-logo {
  height: 8vh;
  animation-name: example;
  animation-duration: 5s;
}

.Nav-items {
  font-size: 1.1rem;
  display: flex;
  gap: 30px;
  animation-name: example2;
  animation-duration: 4s;
  align-items: center;
}

#Contact-Us {
  padding: 6px 12px 6px 12px;
  border-radius: 6px;
  background-color: #263238;
  color: white;
}

.Line {
  height: 3px;
  width: 20px;
}

.Hamburger {
  display: flex;
  flex-direction: column;
  gap: 3px;
  display: none;
}

#Line-1 {
  animation: Hamburber-Line1 5s linear 0s 1 alternate;
}

/* HERO SECTION */

.Hero {
  display: flex;
  align-items: center;
  padding: 50px;
  justify-content: space-around;
}

.Tagline {
  letter-spacing: 1px;
  width: 500px;
  line-height: 60px;
  font-size: 34px;
  color: white;
  color: rgb(0, 0, 0);
}

.Below_tagline {
  font-size: 22px;
  width: 550px;
}

.Hero-Left-Section {
  margin-top: -40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.Cta {
  display: flex;
  font-size: 20px;
  gap: 20px;
}

.Community-CTA {
  padding: 8px 12px 8px 12px;
  border-radius: 6px;
  background-color: #263238;
  color: white;
}

#Discord-Button {
  background-color: #e5ff00;
  padding: 8px 12px 8px 12px;
  border-radius: 6px;
}

.Students {
  height: 70vh;
}

/* STATS SECTION */

.stats {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.stat1 {
  height: 60px;
  text-align: center;
  padding: 10px 30px 40px 20px;
  font-size: 22px;
  box-shadow: 6px 6px 10px 2px rgb(244, 240, 240);
  border-radius: 2px;
  border-left: 6px solid #263238;
  margin-left: -20px;
}

text {
  font-size: 32px;
}

.CollegeLogos {
  width: 100px;
  height: 100px;
}

.statistics {
  display: flex;
  gap: 60px;
}

.Heading {
  font-size: 38px;
  border-left: 6px solid orange;
  padding: 0px 0px 0px 20px;
  margin: 20px auto 40px 50px;
}

.Resources {
  margin: 50px 50px 100px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 90px;
}

.Resource-Type {
  display: flex;
  align-items: center;
  gap: 16px;
  background-color: rgb(243, 243, 236);
  cursor: pointer;
  border-left: 4px solid rgb(219, 219, 60);
}

.Resource-Type p {
  padding: 8px 6px 8px;
}

.Arrow {
  height: 30px;
  display: none;
}

#Arrow-Id-Coding {
  display: flex;
}

#Resources-Heading {
  border-left: 4px solid rgb(55, 71, 79);
}

.Resource-Type:hover {
  background-color: white;
  box-sizing: border-box;
  box-shadow: 1px 1px 5px 2px rgb(244, 240, 240);
  transform: scale(1.1);
}

.Resource-List {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.Resource-Link-Items {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.Resource-Link-Item {
  box-shadow: 1px 1px 5px 2px rgb(244, 240, 240);
  background-color: rgb(255, 255, 255);
  padding: 8px 6px 8px;
  border-left: 4px solid rgb(219, 219, 60);
}

.Resource-Link-Item:hover {
  box-shadow: 1px 1px 5px 2px rgb(230, 221, 221);
  font-weight: bold;
  transform: scale(1.1);
}

.Resource-Images {
  display: flex;
}

.Images img {
  height: 400px;
}

#Hackathon,
#Hackathons-Link-List {
  display: none;
}

#Events-Section {
  border-left: 4px solid rgb(219, 219, 60);
}
.Events,
.Achievements {
  margin: 20px 50px 50px 50px;
}

.Events-Images {
  height: 380px;
  border-radius: 12px;
}

.Event-List,
.Achievements-List {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

#Fixed-Event-Image {
  height: 300px;
  width: 400px;
}

.Arrow-Events {
  height: 50px;
}

#Left-Arrow {
  transform: rotate(180deg);
}

.Achievements-Images {
  height: 440px;
}

.CampusAmbassadors {
  margin: 30px 50px 50px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Socials {
  height: 30px;
}

.Deseignation {
  text-align: center;
  color: black;
  font-size: 18px;
}

.Founder {
  box-shadow: 3px 0px 8px 2px rgb(244, 240, 240);
  border-left: 2px solid rgb(219, 219, 60);
  display: flex;
  color: white;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  padding: 18px;
  border-radius: 6px;
}

.Name {
  border-radius: 6px;
  font-size: 18px;
  background-color: #263238;
  padding: 4px 22px 4px 22px;
}

.Team-List {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.Social-Links {
  display: flex;
  gap: 15px;
  margin-top: 12px;
  flex-direction: row;
  border-radius: 200px;
}

.Socials {
  border-radius: 2000px;
}

#Fixed-Team-Image {
  width: 450px;
  height: 400px;
  margin-left: 60px;
}

.join-Us {
  padding: 6px 22px 6px 22px;
  background-color: #263238;
  color: white;
  border-radius: 6px;
  margin: 30px;
  border: 2px solid black;
  margin-top: 60px;
}

#Contact-Us-On {
  height: 400px;
}

.Contactus {
  margin: 20px 50px 50px 50px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 30px;
}

.Contact-us-right {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  text-align: center;
  padding: 40px;
  border-radius: 12px;
  font-size: 22px;
  background-color: rgb(246, 250, 253);
  border-left: 8px solid orange;
  box-shadow: 5px 13px 8px 2px rgba(255, 241, 241, 0.724);  


}

.suggestion {
  padding: 20px;
  border-radius: 6px;
}

.Social{
  height: 60px;
}

.Social-media{
  padding: 20px 20px 0px 20px ;
}

.feedback{
  background-color: #263238;
  padding: 6px 12px 4px 12px;
  color: white;
  margin-top: 20px;
  border-radius: 6px;
}